---
import themeConfig from '@theme-config'
import { Link, DarkMode } from 'accessible-astro-components'
import { LauncherTrigger } from 'accessible-astro-launcher'
import { Icon } from 'astro-icon/components'

/**
 * Navigation Items Component
 *
 * @description A component that displays the navigation items for the website
 */
---

<ul class="menu">
  {
    themeConfig.navigation.items.map((item) => (
      <li
        class={`menu-item ${item.type === 'dropdown' ? 'has-dropdown' : ''} ${item.icon ? 'type-icon animate-rotate' : ''}`}
      >
        {item.type === 'dropdown' ? (
          <button aria-haspopup="true" aria-expanded="false">
            {item.label}
            <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
          </button>
        ) : !item.type || item.type === 'link' ? (
          <Link href={item.href} isExternal={item.external ?? false} hideIcon={!!item.icon}>
            {item.icon ? (
              <>
                <Icon aria-hidden="true" name={item.icon} size="32" />
                <span class="sr-only">{item.label}</span>
              </>
            ) : (
              item.label
            )}
          </Link>
        ) : null}
        {item.type === 'dropdown' && (
          <ul class="dropdown-menu">
            {item.items.map((subItem) => (
              <li class="submenu-item">
                <Link href={subItem.href} isExternal={subItem.external ?? false}>
                  {subItem.label}
                </Link>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
  {
    themeConfig.navigation.darkmode && (
      <li class="menu-item type-icon animate-rotate">
        <DarkMode>
          <Icon aria-hidden="true" name="lucide:moon" slot="light" />
          <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
        </DarkMode>
      </li>
    )
  }
  <li class="menu-item desktop-launcher">
    <LauncherTrigger launcherId="site-launcher" compact={true} gradientBorder={true} />
  </li>
</ul>
